
@{
    ViewBag.Title = "Json";
}

<h3>Su archivo ya fue creado</h3>
<div>
    <form action="Menú" method="post">
        <input type="submit" name="enviar" value="Regresar al Menú" />
    </form>
</div>
