
@{
    ViewBag.Title = "Menú";
}

<form action="InOrden" method="post">
    <input type="submit" name="enviar" value="InOrden" />
</form>
<br />
<form action="Pedidos" method="post">
        Nombre:   <input type="text" name="nombre" required />
        <input type="submit" name="enviar" value="Pedidos" />
</form>
<br />
<br />
<form action="Json" method="post">
   <input type="submit" name="enviar" value="Json" />
</form>
<br />

